@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/home-background-wallpaper.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exclusive-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/exclusive-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cosmetics-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/mesoestetic_blemiderm_pack_0001.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accessories-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/bcn_meso_body_roller_0002.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/contact-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
